# TinyCFG Grammar: robot.cfg
# LL(1) voice-command grammar for home-robot / IoT control.
# Compile offline: python tools/tinycfg_compiler.py tinycfg/grammars/robot.cfg

[meta]
name = robot
version = 1

# --- Terminals (canonical : synonym, synonym, ...) ---
[terminals]
turn    : switch, activate
on      : enable
off     : disable
and     :
then    :
after   :
before  :
if      :
until   :
come    : go
here    : me
room    :
light   : lamp
bedroom :
living  :
stop    : halt, freeze
kitchen :

# --- Productions (left-recursion free, LL(1)) ---
# Semantic actions use => ACTION_ID(argument)
[rules]
TASK_LIST  -> TASK OP_REST
OP_REST    -> OP TASK OP_REST
OP_REST    ->

TASK       -> LIGHT_ON | LIGHT_OFF | COME_HERE | STOP

LIGHT_ON   -> turn on OBJECT  => LIGHT_ON($OBJECT)
LIGHT_OFF  -> turn off OBJECT => LIGHT_OFF($OBJECT)
COME_HERE  -> come here       => COME_HERE()
STOP       -> stop            => STOP()

OBJECT     -> room light      => room_light
OBJECT     -> bedroom light   => bedroom_light
OBJECT     -> living light    => living_light
OBJECT     -> kitchen light   => kitchen_light
OBJECT     -> light           => default_light

OP         -> and  => SEQ_AND
OP         -> then => SEQ_THEN
OP         -> after => SEQ_AFTER
OP         -> before => SEQ_BEFORE
OP         -> if => SEQ_IF
OP         -> until => SEQ_UNTIL
